#send {
    background: var(--light-gray);
    border-top: 0.125rem solid #e4e4e4;
    margin-bottom: 4%;
    display: flex;
}

#send>img {
    position: absolute;
    right: 0;
    height: 60%;
    padding-left: 30%;
}

#send p {
    display: ruby;
    color: var(--second-text-color);
}

#send .content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    text-align: center;
    gap: 1.75rem;
}

#send .content>div {
    width: fit-content;
    align-self: center;
    margin-bottom: 20%;
}

#send label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

#send input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    transition: all 0.3s ease;
}

#send input:focus {
    border-color: #5e81f4;
    outline: none;
    background-color: #fff;
}

#send input::placeholder {
    color: #aaa;
    font-style: italic;
}

@media (width >=1280px) {
    #send {
        background: var(--bg-color);
        border-top: none;

        >span {
            position: absolute;
            top: 0;
        }

        >img {
            top: 0;
            height: 82%;
            padding-left: 55%;
        }
    }

    .content p {
        width: 80%;
        align-self: center;
    }

    .content {
        gap: 2.5rem;
    }
    
    .content > div :first-child {
        width: 10.625rem;
    }

    .content p {
        width: 80%;
        align-self: center;
    }
    
    .content p:first-of-type {
        color: var(--primary-color);
        font-weight: var(--fw-bold);
    }
    
}    
